@media (max-width: 1500px) {
    .navbar {
        /* background-color: red; */
        width: 90%;
        font-size: 1.1em;
    }

    .movieList {
        /* height: 25em; */
        width: 25em;
    }
}

@media (max-width: 1300px) {
    .navbar {
        background-color: red;
        width: 80em;
    }
}

@media (max-width: 1300px) {
    .navbar {
        background-color: red;
        width: 80em;
    }
}

@media (max-width: 1300px) {
    .navbar {
        background-color: red;
        width: 80em;
    }
}

@media (max-width: 1300px) {
    .navbar {
        background-color: red;
        width: 80em;
    }
}

@media (max-width: 1300px) {
    .navbar {
        background-color: red;
        width: 80em;
    }
}

@media (max-width: 1300px) {
    .navbar {
        background-color: red;
        width: 80em;
    }
}